/* nav.subnav > div.nav > ul.menu > li.menu-item,
div.header-nav > div.nav > ul.menu > li.menu-item {
    display: inline;
}

nav.sidenav > div.nav {
    display: block !important;
    height: auto !important;
}

.custom-logo-link {
    padding: 0px 10px;
}

img.card-media-image {
    float: left;
    margin: 0px 10px 0px 0px;
}

li.current-menu-item > a.nav-link {
        box-shadow: 0 -3px 0 #007cbb inset;
        transition: box-shadow 0.2s ease-in;
} */
.highlight pre {
  display: inline-block;
}
.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.3em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0em 0.5em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--google {
  background-color: #dd4b39;
  border-color: #dd4b39;
}

.resp-sharing-button--google:hover,
.resp-sharing-button--google:active {
  background-color: #c23321;
  border-color: #c23321;
}

.resp-sharing-button--tumblr {
  background-color: #35465C;
  border-color: #35465C;
}

.resp-sharing-button--tumblr:hover,
.resp-sharing-button--tumblr:active {
  background-color: #222d3c;
  border-color: #222d3c;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.resp-sharing-button--linkedin {
  background-color: #0077b5;
  border-color: #0077b5;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  background-color: #046293;
  border-color: #046293;
}

.resp-sharing-button--reddit {
  background-color: #5f99cf;
  border-color: #5f99cf;
}

.resp-sharing-button--reddit:hover,
.resp-sharing-button--reddit:active {
  background-color: #3a80c1;
  border-color: #3a80c1;
}

.resp-sharing-button--whatsapp {
  background-color: #25D366;
  border-color: #25D366;
}

.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
  background-color: #1DA851;
  border-color: #1DA851;
}

.resp-sharing-button--telegram {
  background-color: #54A9EB;
}

.resp-sharing-button--telegram:hover {
  background-color: #4B97D1;}

.img-author {
  float: left;
  border-radius: 50%;
  max-height: 50px;
  max-width: 50px;
  margin-right: 20px;
}

.clarityAuthorProfile {
  float: left;
  border-radius: 50%;
  max-height: 100px;
  max-width: 100px;
  margin-right: 20px;
}

.clr-card-featured-image {
  float: left;
  max-height: 100px;
  max-width: 100%;
  padding-right: 15px;
  padding-bottom: 5px;
}

.clr-card-authors {
  width: 100%;
  color: gray;
}

.clr-post-featured-image {
  float: left;
  max-height: 100px;
  max-width: 100%;
  margin-top: 30px;
  padding-right: 20px;
  padding-bottom: 5px;
}

.clr-nav-previous {
  float: left;
}

.clr-nav-next {
  float: right;
}

.clarity-prev-next {
  margin-top: 30px;
  margin-bottom: 20px;
}

.clarity-content-image img {
  max-width: 100%;
  max-height: 400px;
}

.clarity-content-image-left img {
  float: left;
  max-width: 50%;
  max-height: 100px;
  padding-right: 20px;
  padding-bottom: 5px;
}

@media screen and (min-width: 0px) and (max-width: 700px) {
  nav.sidenav { display: none; }
  div.header-nav { display: none; }
  div.header-actions { display: none; }
}

#site-intro {
  align-items: center;
  margin-top: 0.5em;
  padding: 0em;
  text-align: center;
}

.card .card-block .card-text img {
  max-width: 100%;
  height: auto;
}

.card .card-block .card-text .nav-list-inline {
    font-size: 20px;
    margin: 5px;
    letter-spacing: .25em;
  }

a.fas,
a.fab {
  color: grey;
}

.sidenav .nav-group label {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  padding: 0em;
}

.sidenav .nav-group .nav-list {
  display: inline-block;
  padding: .75em;
}

.sidenav .nav-group .nav-list .nav-link {
  cursor: pointer;
  display: inline-block;
  padding: 0em;
}

ul.pagination {
  list-style: none;
}
li.pagination__item {
  display: inline-block;
}
.highlight {
  overflow: auto;
  display: block;
  position: relative;
}
.alert {
  overflow: auto;
  display: block;
  position: relative;
}